$border-color: rgba(39, 76, 91, 1);
$border-radius: 16px; // Закругление углов
$padding: 28px  39px 29px 39px; // Отступы


; // Основной цвет границы
// $hover-background-color: #f0f0f0; // Фон кнопки при наведении
// $hover-border-color: #333; // Цвет границы при наведении
// $transition-duration: 0.3s; // Длительность перехода
// $active-scale: 0.95; // Масштабирование при нажатии